<div class="js-oddny-ajaxcart-container">
    <?php echo $this->getChildHtml('checkout.cart'); ?>

    <script type="text/javascript">
    Translator.add("Are you sure you want to remove <strong>%s</strong>?", <?php echo Zend_Json::encode($this->__("Are you sure you want to remove <strong>%s</strong>?")) ?>);
    Translator.add("Cancel", <?php echo Zend_Json::encode($this->__("Cancel")) ?>);
    Translator.add("Remove", <?php echo Zend_Json::encode($this->__("Remove")) ?>);
    </script>
</div>
