.oddny-ajax-cart {
    position: relative;

    &.has-overlay:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        background: fade(#ffffff, 90%);
    }
}

.oddny-ajax-cart__alert {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%,-50%);
    text-align: center;
}

.oddny-ajax-cart__button {
    margin: 0 10px;
}
