.oddny-ajax-cart {
  position: relative;
}
.oddny-ajax-cart.has-overlay:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
}
.oddny-ajax-cart__alert {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.oddny-ajax-cart__button {
  margin: 0 10px;
}

/*# sourceMappingURL=sourcemaps/ajaxcart.css.map */